
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(216,216,216,0.7), rgba(9,0,42,0.9)), url(https://rasekhoon.net/_files/images/photogallery/azadi__tower_large-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff5e;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
}

/* ************************************** */

/* menu item start */
.nav .menu-item{
    display: grid;
    grid-template-columns: repeat(4, 18%);
    align-items: center;
    text-align: center;
}

.nav .menu-item li{

}

.nav .menu-item li a{
    font-size: 15px;
    font-weight: 500;
    color: var(--color1);
}

.nav .menu-item li a:hover{
    color: var(--color2);
}
/* menu item end */

/* ************************************** */

/* logo start */
.nav .logo-site{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav .logo-site .text-logo{
    font-size: 27px;
    color: var(--color1);
    font-weight: 500;
    opacity: 0.9;
}

.nav .logo-site img{
    width: 50px;
    height: 50px;
    margin-right: 0.7rem;
}
/* logo end */

/* ************************************** */

/* content header start */
.content-header{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 50px;
    grid-gap: 35px;
    text-align: center;
    align-content: center;
}

.content-header .title{
    align-self: center;
}

.content-header .title .text-title{
    font-size: 45px;
    font-weight: 500;
    color: var(--color4);
    line-height: 60px;
    text-shadow: 0 5px 7px rgba(0, 0, 0, 0.582);
}


.content-header .btn{
    padding: 1rem 0;
}

.content-header .btn a{
    font-size: 16px;
    font-weight: 500;
    color: var(--color4);
    border: 2px solid var(--color4);
    border-radius: 7px;
    padding: 10px 30px;
}

.content-header .btn a:hover{
    color: var(--color1);
    background-color: var(--color4);
}
/* content header end */

/* ************************************** */

/* responsive mobile start */
@media screen and (max-width: 768px) {
    /* nav start */
    .nav{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        padding-bottom: 0.6rem;
    }  
    
    .nav .menu-item{
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    
    .nav .menu-item li a{
        font-size: 13px;
    }

    .nav .logo-site{
        grid-row: 1 / 2;
    }

    .nav .logo-site img{
        margin: 0 auto;
    }

    .nav .logo-site .text-logo{
        display: none;
    }
    /* nav end */

    /* ************************************** */

    /* content header start */
    .content-header .title .text-title{
        font-size: 35px;
        line-height: 50px;
    }

    .content-header .btn a{
        font-size: 14px;
        padding: 5px 25px;
    }    
    /* content header end */
}
/* responsive mobile end */



/* ************************************** */



/* responsive tablet start */
@media screen and (min-width: 425px) and (max-width: 768px) {
    /* nav start */
    .nav .menu-item li a{
        font-size: 15px;
    }
    /* nav end */

    /* ************************************** */

    /* content header start */
    .content-header .title .text-title{
        font-size: 40px;
        line-height: 50px;
    }

    .content-header .btn a{
        font-size: 14px;
        padding: 8px 28px;
    }    
    /* content header end */
}
/* responsive tablet end */



/* ************************************** */



/* responsive laptop start */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* nav start */
    .nav .menu-item{
        grid-template-columns: repeat(4, 1fr);
    }

    .nav .menu-item li a{
        font-size: 15px;
    }
    /* nav end */
}
/* responsive tablet end */


